[*.cs]

# LRT001: There is only one restricted namespace
dotnet_diagnostic.LRT001.severity = none

# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = none

# NI1007: Test classes must ultimately inherit from 'AutoTest'
dotnet_diagnostic.NI1007.severity = none
